footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 10px;
    border-radius: 25px 25px 0 0;

    .social-liks {
        width: 400px;
        text-align: center;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
    }

    a {
        margin-right: 10px;
    }

    img {
        transition: all .3s ease;
    }
    a:hover img {
        transform: scale(1.1);
    }

    @media (max-width: 640px) {
        .social-link {
            width: 80vw;
        }
    }
}